@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --cl-heading-tracking: -0.01em;
}

h1,h2,h3{
  letter-spacing: var(--cl-heading-tracking);
}

code, pre { font-family: var(--font-mono), ui-monospace, SFMono-Regular, Menlo, monospace; }
